body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #8e582c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 60px;
    margin-right: 10px;
}

header .menu img {
    height: 30px;
}

main {
    text-align: center;
    padding: 20px;
}

.profile {
    margin: 40px auto;
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile p {
    font-size: 30px;
    margin-top: 10px;
}

h2 {
    color: #ffffff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background-color: #8e582c;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
}


.nav-links {
    margin-left: auto; /* Alinha os links à direita */
    display: flex;
    gap: 100px;
}

.nav-links a {
    text-decoration: none;
    color: white; /* Ajuste a cor conforme necessário */
    font-weight: bold;
}


/*css da página quem somos*/

/* Estilos das seções */
.content, .promotion, .contact {
    color: white;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: linear-gradient(to right, #8e581a, #8e582c); /* Degradê de cores */
    text-align: center;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra leve */
}

footer {
    background-color: #8B4513; /* Cor marrom */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
