<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de Arquivos</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
    <link rel="stylesheet" href="../static/stylesArquivos.css">
</head>
<body>
    <header>
        <nav>
            <a href="perfil.html">Voltar</a>
            <h1>Arquivos</h1>
        </nav>
    </header>
    <main>
        <section class="upload-section">
            <div class="upload-box">
                <div class="icon">
                    <img src="../icons/add-archive.png" alt="Ícone de caixa">
                </div>
                <h2>Envie arquivos para o seu professor!</h2>
                <p>Utilize essa área para enviar exames, avaliações, planos alimentares ou outros arquivos que o seu professor solicitar.</p>
                <button>Importar</button>
            </div>
        </section>
    </main>

    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>



