<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="icons\flavicon.png">
    <link rel="stylesheet" href="stylesEmy.css">    
</head>

<body>
    <header>
        <div class="logo">
            <img src="icons\cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>


        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="planos.html">Planos</a>
            <a href="quemSomos.html">Quem Somos</a>
            <a href="entrar.html">Entrar</a>
        </div>
   


    </header>

    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
       
</body>
</html>