<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="icons/flavicon.png">
    <link rel="stylesheet" href="stylesEmy.css">
</head>

<body class="home">
    <header>
        <div class="logo">
            <img src="../icons/cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>

        <div class="nav-links">
            <a href="/home">Home</a>
            <a href="/planos">Planos</a>
            <a href="/quemSomos">Quem Somos</a>
            <a href="/login">Entrar</a>
        </div>
    </header>

    <div class="descricao">
        <p style="font-size: 150%;">
            SertãoFit – Uma academia que une tradição e modernidade para proporcionar a melhor experiência de fitness e bem-estar.
            Localizada na charmosa cidade de Paulo Afonso, a SertãoFit se destaca não apenas pela sua infraestrutura de ponta,
            mas também pelo compromisso em transformar a vida de seus membros.
        </p>
    </div>

    <div class="cadastre">
        <a href="/cadastro" style="text-decoration: none; color: white; font-size: 30px;">CADASTRE-SE</a>
    </div>
    
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
