<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
    <link rel="stylesheet" href="../static/styles.css">    
</head>


<body>
    <header>
        <div class="logo">
            <img src="../icons\cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>

        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="planos.html">Planos</a>
            <a href="quemSomos.html">Quem Somos</a>
            <a href="login.html">Entrar</a>
        </div>
    

    </header>
    <main>
        <div class="profile">
            <img src="../icons/profile-icon.png" alt="Profile Picture">
            <p>Emily Louise</p>
        </div>
        
        <div class="cards">
            <div class="card">
                <a href="treinos.html"> <img src="../icons\alter.png" alt="Treinos Icon"> </a>
                <p>Treinos</p>
            </div>
            <div class="card">
               <img src="../icons\add-document.png" alt="Treinos Icon">
                <p>Treinos Extra</p>
            </div>
            <div class="card">
                <img src="../icons\ballotcheck.png" alt="Avaliações Icon">
                <p>Avaliações</p>
            </div>
            <div class="card">
                <img src="../icons\progress.png" alt="Meu Progresso Icon">
                <p>Meu Progresso</p>
            </div>
            <div class="card">
                <img src="../icons\dollar.png" alt="Faturas Icon">
                <p>Faturas</p>
            </div>
            <div class="card">
            <a href="arquivos.html">  <img src="../icons/box.png" alt="Arquivos Icon"> </a>
             <p>Arquivos</p>
            </div>
        </div>
    </main>
    
    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
