<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="icons\flavicon.png">
    <link rel="stylesheet" href="stylesPlanos.css">    
</head>

<body>
    <header>
        <div class="logo">
            <img src="icons/cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>


        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="planos.html">Planos</a>
            <a href="quemSomos.html">Quem Somos</a>
            <a href="entrar.html">Entrar</a>
        </div>

    </header>

<div class="planos"><h1><br><br><br>CONHEÇA OS NOSSOS PLANOS!!!</h1><P style="font-size: 18.5px;">Comece a cuidar de sua saúde hoje mesmo!<br>
    Na Academia SertãoFit, oferece três planos incríveis que atendem às diferentes necessidades e objetivos de seus membros: "Plus", "Light" e "Familiar".<br>
    É só escolher o que melhor se adequa a você!</P></div>




<div class="card-container">
    <div class="card-plano">
        <h3>Plano Light</h3>
        <p>Benefícios</p>
        <ul>
            <li>Atendimento básico com agendamento</li>
            <li>Acesso ao estúdio Light*</li>
            <li>Mimos no estúdio Light*</li>
            <li>Cadeira de massagem**</li>
            <li>Estacionamento prioritário**</li>
            <li>Plano de treino completo</li>
            <li>Aulas de ginástica, dança e artes marciais</li>
            <li>Nutricionista disponível para consultas</li>
            <li>Fisioterapia disponível para dúvidas rápidas</li>
            <li>Acesso à musculação</li>
            <li>Acesso entre academias Light nos fins de semana</li>
        </ul>
        <button class="btn">Saiba Mais</button>
    </div>
    <div class="card-plano">
        <h3>Plano Plus</h3>
        <p>Benefícios</p>
        <ul>
            <li>Atendimento individualizado com agendamento</li>
            <li>Acesso ao estúdio Plus*</li>
            <li>Mimos no estúdio Plus*</li>
            <li>Cadeira de massagem**</li>
            <li>Estacionamento preferencial**</li>
            <li>Plano de treino completo</li>
            <li>Aulas de ginástica, dança e artes marciais</li>
            <li>Nutricionista disponível para consultas</li>
            <li>Fisioterapia disponível para dúvidas rápidas</li>
            <li>Acesso à musculação</li>
            <li>Acesso entre academias Plus nos fins de semana</li>
        </ul>
        <button class="btn">Saiba Mais</button>
    </div>
    <div class="card-plano">
        <h3>Plano Familiar</h3>
        <p>Benefícios</p>
        <ul>
            <li>Atendimento completo com agendamento</li>
            <li>Acesso ao estúdio Familiar*</li>
            <li>Mimos no estúdio Familiar*</li>
            <li>Cadeira de massagem**</li>
            <li>Estacionamento preferencial**</li>
            <li>Plano de treino completo</li>
            <li>Aulas de ginástica, dança e artes marciais</li>
            <li>Nutricionista disponível para consultas</li>
            <li>Fisioterapia disponível para dúvidas rápidas</li>
            <li>Acesso à musculação</li>
            <li>Acesso entre academias Familiar nos fins de semana</li>
        </ul>
        <button class="btn">Saiba Mais</button>
    </div>
</div>

<br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>