<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit - Quem somos</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/flavicon.png">
    <link rel="stylesheet" href="../static/styles.css">    
</head>


<body>
    <header>
        <div class="logo">
            <img src="../icons/cactus.png" alt="SertãoFit Logo">
            <h1>SertãoFit</h1>
        </div>

        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="planos.html">Planos</a>
            <a href="quemSomos.html">Quem Somos</a>
            <a href="login.html">Entrar</a>
        </div>

    </header>

<br><br><br><br>
   
    <div class="content">
        <h2>Quem Somos?</h2><br>
        <p>Bem-vindo à SertãoFit, a academia que une saúde, bem-estar e a essência do Sertão! Nossa missão é proporcionar um ambiente acolhedor, com equipamentos de ponta e profissionais qualificados, prontos para ajudar você a alcançar seus objetivos.</p>
        <p>Na SertãoFit, valorizamos a cultura local e acreditamos que o estilo de vida saudável pode ser divertido e acessível para todos. Oferecemos uma variedade de aulas e atividades que vão desde musculação e cardio até treinamentos funcionais e aulas de dança. Tudo isso em um espaço pensado para seu conforto e desempenho.</p>
        <p>Venha fazer parte da nossa família SertãoFit e descubra como podemos ajudar você a transformar sua vida!</p>
    </div>
<br><br><br>
    <div class="promotion">
        <h2>Não Perca Tempo!</h2><br>
        <p>Está pronto para começar sua jornada rumo a uma vida mais saudável e ativa? Monte seu plano na SertãoFit hoje mesmo e tenha acesso a todos os benefícios que nossa academia oferece. Desde planos mensais até anuais, temos a opção perfeita para você.</p>
        <p>Entre em contato conosco para mais informações e para agendar uma visita. Estamos ansiosos para te receber!</p>
    </div>
<br><br><br>
    <div class="contact">
        <h2>Contatos</h2><br>
        <div class="contact-links">
            <a href="https://wa.me/SEUNUMERODOTELEFONE" class="whatsapp-link">
                <img src="front-end\icons\whatsapp.png" alt="WhatsApp Icon" style="width: 24px; height: 24px;">
                WhatsApp
            </a>
            <a href="tel:+SEUNUMERODOTELEFONE" class="phone-link">
                <img src="front-end\icons\phone-call.png" alt="Telefone Icon" style="width: 24px; height: 24px;">
                +SEUNUMERODOTELEFONE
            </a>
        </div>
    </div>

    <br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>