

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SertãoFit</title>
    <link rel="icon" type="image/png" sizes="32x32" href="icons/flavicon.png">
    <link rel="stylesheet" href="../static/stylesTreino.css">
    
    
    </head>
<body>
    <div class="navbar">
        <a href="#" class="back-button">Voltar</a>
        <h1>SertãoFit <img src="../icons/cactus.png"> </h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="header">
                <h2>Rotina de Treinos</h2>
                <span class="dropdown">Treino semana 01
                    <div class="dropdown-content">
                        <a href="#">Semana 01</a>
                        <a href="#">Semana 02</a>
                        <a href="#">Semana 03</a>
                        <a href="#">Semana 04</a>
                    </div>
                </span>
            </div>
            <div class="info-section">
                <div class="info">• Treino para hipertrofia</div>
                <div class="info">• Treino de força/resistência</div>
                <div class="line"></div>
            </div>
            <div class="daily-sections">
                <div class="daily-section">
                    <h3>Segunda</h3>
                    <div class="activities">Costas - bíceps - tríceps</div>
                    <div class="buttons">
                        <div class="button">VER TREINO</div>
                        <div class="button">HISTÓRICO</div>
                    </div>
                </div>
                <div class="daily-section">
                    <h3>Terça</h3>
                    <div class="activities">Glúteo - Abdômen</div>
                    <div class="buttons">
                        <div class="button">VER TREINO</div>
                        <div class="button">HISTÓRICO</div>
                    </div>
                </div>
                <div class="daily-section">
                    <h3>Quarta</h3>
                    <div class="activities">HIT - Perna</div>
                    <div class="buttons">
                        <div class="button">VER TREINO</div>
                        <div class="button">HISTÓRICO</div>
                    </div>
                </div>
                <div class="daily-section">
                    <h3>Quinta</h3>
                    <div class="activities">Costas - peito - bíceps</div>
                    <div class="buttons">
                        <div class="button">VER TREINO</div>
                        <div class="button">HISTÓRICO</div>
                    </div>
                </div>
                <div class="daily-section">
                    <h3>Sexta</h3>
                    <div class="activities">Perna - glúteo - abdômen</div>
                    <div class="buttons">
                        <div class="button">VER TREINO</div>
                        <div class="button">HISTÓRICO</div>
                    </div>
                </div>
                <div class="daily-section">
                    <h3>Sábado</h3>
                    <div class="activities">Treino livre</div>
                    <div class="buttons">
                        <div class="button">VER TREINO</div>
                        <div class="button">HISTÓRICO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 SertãoFit. Todos os direitos reservados.</p>
    </footer>
</body>
</html>


